src/main/resources/schemas/util/stack.xsd

<?xml version="1.0"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns="https://github.com/Daomephsta/inscribe"  
    targetNamespace="https://github.com/Daomephsta/inscribe" elementFormDefault="qualified">
    <xs:include schemaLocation="identifier.xsd"/>

    <xs:complexType name="stack">
        <xs:attribute name="id" type="identifier" use="required"/>
        <xs:attribute name="count" type="xs:integer" default="1"/>
        <xs:attribute name="nbt" type="xs:string" default="{}"/>
    </xs:complexType>
</xs:schema>