src/main/resources/schemas/entry/anchor.xsd

<?xml version="1.0"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns="https://github.com/Daomephsta/inscribe"  
    targetNamespace="https://github.com/Daomephsta/inscribe" elementFormDefault="qualified">
    
    <xs:simpleType name="anchor_name">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9_.-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="anchor">
        <xs:complexType>
            <xs:attribute name="name" type="anchor_name"/>
        </xs:complexType>
    </xs:element>
</xs:schema>